body{
    margin:0;
    overflow: overlay;
}


.img-container{
    display:grid;
   
/* grid-template-columns: repeat(auto-fit,176.5px); */
grid-template-columns: repeat(auto-fill,minmax(176.5px,1fr));
/* grid-auto-rows: 176.5px ; */
/* grid-auto-rows: auto ; */
gap:5px;
grid-auto-flow: dense;
}

img{
    width:100%;
}

.main-layout{
    margin:0 auto;
    padding: 0 1rem;
    max-width:730px;
}
.main-header{
color: white;
background-color:#ff7f00 ;
padding: 10px 25px;
}
.main-content{
    /* display: none; */
}

.main-content .scnd-header{
padding: 10px 25px;
}
li{
    margin-left:1em;
}

.meme-editor{
    display: none;
    flex-wrap: wrap;
    gap:3.125rem;
    padding: 1rem 1.6rem;
    background-color: lightgrey;
}

canvas{
background-color: lightseagreen;
/* width: 280px;
height: 280px; */
}

.editor-grid{
    display: grid;
    grid-template-columns: repeat(5,auto) ;
    grid-template-rows: repeat(6,auto);
    row-gap: 5px;
    column-gap: 10px;
}

.editor-grid .text{
    grid-column: 1/ span 5;
}

.editor-icons.updown{
    grid-area: 2/2/3/3;
} 
.editor-icons.add{
    grid-area: 2/3/3/4;
}
.editor-icons.trash{
    grid-area: 2/4/3/5;
}
.editor-icons.inc-font{
    grid-area: 3/1/4/2;
}
.editor-icons.dec-font{
    grid-area: 3/2/4/3;
}
.editor-icons.to-left{
    grid-area: 3/3/4/4;
}
.editor-icons.to-center{
    grid-area: 3/4/4/5;
}
.editor-icons.to-right{
    grid-area: 3/5/4/6;
}

.editor-grid select{
    grid-column: 1 / span 3;
    grid-row: 4/5;
}

.editor-icons.stroke{
    grid-area: 4/4/5/5;
}
.editor-icons.color{
    grid-area: 4/5/5/6;
}

.editor-icons.stickers{
    grid-area: 5/1/6/6;
}

.editor-grid .share{
    grid-area: 6/4/7/6;
}



img.editor-icons{
    padding: 5.3px;
    background-color: white;
    width: 1.25rem;
    height:1.25rem;
}










.footer{
    color: white;
    text-align: center;
background-color:#ff7f00 ;
padding: 2.5rem;
}




/* HELPERS */

.flex{
    display: flex;
}

.flex.justify-content{
    justify-content: space-between;
}

.flex.align-center{
    align-items: center;
}

.clean-list{
    list-style-type: none;
    margin:0;
    padding: 0;
}



@media (max-width:450px){
    .scnd-header{
        display: block;
    }
    .main-layout{
        padding: 0;
    }

}