* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: overlay;
}

h1, h2, h3, h4, h5, h6 {
    /* margin: 0 0 .866em; */
    margin: 0;
}

.img-container {
    background-color: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(176.5px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(176.5px, 176.5px)); */
    grid-auto-rows: auto;
    gap: 5px;
    /* grid-auto-flow: dense; */
    align-items: center;
    padding: 4px;
    justify-content: center;
}

.img-container>img {
    cursor: pointer;
}

.img-container>img:hover {
    /* border:3px solid black; */
    box-shadow: 0 0 0 5px #ff7f00;
}

img {
    width: 100%;
}

.main-layout {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 730px;
}

.main-header {
    color: white;
    background-color: #ff7f00;
    padding: 10px 25px;
    /* align-content: center; */
}

.main-header .nav li:not(:last-child) {
    border-right: 1px solid #8a8a8a;
}

.main-header .nav li {
    padding: 0 0.312rem;
}

.main-header .nav li:hover {
    text-decoration-line: underline;
}

.main-content .scnd-header {
    padding: 10px 25px;
}

.scnd-header .hashtags {
    /* width: 300px; */
}

.scnd-header span {
    display: inline-block;
    margin-left: 1em;
    cursor: pointer;
}

.scnd-header span:hover {
    text-decoration-line: underline;
}

/* .scnd-header .search .text{
    background: white url(/ICONS/search-icon.png) right no-repeat;
    padding-right: 17px;
} */

/* ============================== EDITOR SCREEN =============================== */

.meme-editor {
    display: none;
    align-items: flex-start;
    flex-wrap: wrap;
    /* gap: 3.125rem; */
    padding: 1rem 0;
    background-color: #e3e3e3;
    justify-content: space-evenly;
}

canvas {
    background-color: lightseagreen;
}

.editor-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(6, auto);
    row-gap: 5px;
    column-gap: 0.625rem;
}

.editor-grid .text {
    height: 100%;
    border-radius: 0.625rem;
    grid-column: 1/ span 5;
}

.editor-grid .text:hover {
    background-color: #ff7f00;
}

.editor-grid .text:focus {
    background-color: #ff7f00;
}

.editor-grid div {
    background-color: white;
    font-size: 1.625rem;
    text-align: center;
    align-self: center;
    border-radius: 0.625rem;
    cursor: pointer;
}

.editor-icons.updown {
    grid-area: 2/5/3/6;
}

.editor-icons.add {
    grid-area: 2/3/3/4;
}

.editor-icons.trash {
    grid-area: 2/4/3/5;
}

.editor-icons.inc-font {
    grid-area: 3/1/4/2;
}

.editor-icons.dec-font {
    grid-area: 3/2/4/3;
}

.editor-icons.to-left {
    grid-area: 3/3/4/4;
}

.editor-icons.to-center {
    grid-area: 3/4/4/5;
}

.editor-icons.to-right {
    grid-area: 3/5/4/6;
}

.editor-grid select {
    border-radius: 10px;
    width: 7.25rem;
    grid-column: 1 / span 3;
    grid-row: 4/5;
}

.editor-grid select:hover {
    background-color: #ff7f00;
}

.editor-icons.stroke {
    grid-area: 4/4/5/5;
}

.editor-icons.color {
    grid-area: 4/5/5/6;
}

.editor-icons.stickers {
    grid-area: 5/1/6/6;
}

.editor-grid .save {
    grid-area: 6/4/7/6;
}

.editor-grid .download {
    grid-area: 6/1/7/4;
    margin: 0;
}

.editor-grid .stroke-input {
    border-radius: 0.625rem;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    position: relative;
    top: -2.3125rem;
    left: 7.875rem;
}

.editor-grid .font-input {
    border-radius: 0.625rem;
    /* z-index: -1; */
    width: 2rem;
    height: 2rem;
    opacity: 0;
    position: relative;
    top: -2.3125rem;
    left: 7.875rem;
}

img.editor-icons {
    padding: 5.3px;
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 0.625rem;
}

img.editor-icons:hover {
    background-color: #ff7f00;
}

.editor-grid a.download {
    grid-area: -1/1/-2/3;
}

.editor-grid button {
    height: 2rem;
    border-radius: 0.625rem;
}

.editor-grid button:hover, .editor-grid div:hover {
    background-color: #ff7f00;
}

.footer {
    color: white;
    text-align: center;
    background-color: #ff7f00;
    padding: 2.5rem;
}

/*============================== HELPERS =========================================*/

.pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex.justify-content {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ============================================================= */

@media (max-width:680px) {
    .main-layout {
        max-width: 450px;
    }
    .scnd-header {
        display: block;
    }
    .main-layout {
        padding: 0;
    }
    canvas {
        width: 100%;
        margin-bottom: 1rem;
    }
    .meme-editor {
        justify-content: center;
    }
}